:root {
    --primary-color: orange;
    --secondary-color: green;
    --bg-color: #f0f0f0;
    --text-color: #333;
    --padding: 1rem;
  }  

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 20px;
    text-align: left;
}

li {
    padding: 4px;
}


.hero {
    position: relative;
    width: auto;
    height: 600px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    /* padding: 0.5rem 0; */
    object-fit: cover;
}

.weather .heading img {
    width: 20px;  /* Smaller size for mobile */
    height: auto;
    margin-left: 5px;
    display: inline;
}

.data {
    position: absolute;
    background-color: white;
    padding: 0;
    width: auto;
    height: auto;
    top: 180px;
    left: 50px;
}

.heading {
    background-color: var(--primary-color);
    padding: 0.7rem; 
    width: 80%;
}

.weather {
    position: absolute;
    background-color: white;
    bottom: 1px;
    right: 20px;
    width: 200px;
}

.weather-icon {
    width: 50px;  /* Default size */
    height: auto;
    display: block;
    margin: 0 auto;
}
  

footer{
    background-color: orange;
    padding: 1rem;
    font-weight: bold;
    display: grid;
    justify-content: center;
    /* align-items: center; */
}

@media screen and (max-width: 650px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .hero{
        position: static;
        width: auto;
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .info{
        width: 100%;
        display: grid;
        justify-content: center;
    }

    .info {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
      

    heading{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .info h2 {
        display: flex;
        justify-content: center;
    }
    
    .data{
        position: static;
        width: 100%;
    }

    .weather {
        position: static;
        width: 100%;
    }

    .weather .heading h2 {
        display: flex;
        align-items: center;
    }
    
    .weather .heading img {
        width: 20px;  /* Smaller size for mobile */
        height: auto;
        margin-left: 5px;
    }

    .icon {
        display: block; 
        text-align: center; 
        margin-top: 5px;
    }
    .icon img {
        width: 40px;
        height: auto;
    }

    .heading {
        background: none;
    }

    .heading::after {
        content: "";
        display: block;
        width: 200px;
        height: 3px;
        background-color: var(--primary-color);
        margin: 5px auto;
    }
    

}